<% layout('layout') -%>

<!-- Page Content -->
<div id="page-wrapper" ng-init="load();">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Download here</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
            <!-- /.row -->
        <div class="row">                
            <div class="col-lg-4 col-md-6" ng-repeat="doc in documents">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>{{ doc.title }}</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><a href="{{doc.url}}" download>Download<a/></span>
                            <span class="pull-right"><a href="{{doc.url}}"><i class="fa fa-download"></i><a/></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>                
        </div>                      
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
    
