<!DOCTYPE html>
<html>

<head>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<script src="/typescripts/script.js" ></script> 

</head>

<body>
	<h1>Type Script Demo</h1>

</body>

</html>