<ul class="nav" id="side-menu">                      
                        <li>
                            <h4>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> Categories</a>
                           </h4>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Technology<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Cloud</a>
                                </li>
                                <li>
                                    <a href="morris.html">Angular JS</a>
                                </li>
                                  <li>
                                    <a href="morris.html">TypeScript</a>
                                </li>
                                  <li>
                                    <a href="morris.html">Azure DocumentDB</a>
                                </li>
                                 <li>
                                    <a href="morris.html">.Net</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>                     
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Journals</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Projects<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Single Page App's</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Mobile App's</a>
                                </li>                              
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> POC's<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">For Band B1</a>
                                </li> 
                                 <li>
                                    <a href="#">For Band B2</a>
                                </li>                               
                                <li>
                                    <a href="#">For Band B3 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">POC 1</a>
                                        </li>
                                        <li>
                                            <a href="#">POC 2</a>
                                        </li>                                      
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>About Us<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>