<div>
    Footer section
</div>

<!--Footer-->
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/metisMenu.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/clientscripts/app.js"></script>